{% extends 'base.html.twig' %}


{% block title %}
    {{ 'title.category_details'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.category_details'|trans({'%id%': category.id|default('')}) }}</h1>
    {% if category is defined and category|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ category.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ category.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ category.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  category.title }}</dd>

        </dl>
        <h2>taski z tą kategorią</h2>
{#        {% for task in category.tasks %}#}
{#            {{ task.title }}#}
{#        {% endfor %}}#}

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}


{% endblock %}