{% extends 'base.html.twig' %}


{% block title %}
    {{ 'title.article_details'|trans({'%id%': article.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.article_details'|trans({'%id%': article.id|default('')}) }}</h1>
    {% if article is defined and article|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ article.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ article.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ article.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  article.title }}</dd>
            <dt>{{ 'label.author'|trans }}</dt>
            <dd>{{  article.author.nick }}</dd>
            <dt>{{ 'label.content'|trans }}</dt>
            <dd>{{  article.content }}</dd>

        </dl>


    <h3 class="mt-6">{{ 'title.comments_and_article'|trans({'%id%': article.id|default('')}) }}</h3>

    {% if pagination is defined and pagination.items|length %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.content'|trans, 'comment.content') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'comment.created_at') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.article'|trans, 'comment.article') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.user'|trans, 'comment.user') }}</th>

            </tr>
            </thead>
            <tbody>
            {% for comment in pagination.items %}
                <tr>
                    <td>{{ comment.content }}</td>
                    <td>{{ comment.createdAt|format_date('long') }}</td>
                    {% if comment.article.title is defined %}
                        <td>{{ comment.article.title }}</td>
                    {% else %} <td> null </td>
                    {% endif %}
                    {% if comment.user.id is defined %}
                        <td>{{ comment.user.email }}</td>
                    {% else %} <td> null </td>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>



    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}

        {# DODAJ KOMENTARZ #}
        <p>
            <a type="button" class="btn btn-primary"  href="{{ url('comment_create', {id: article.id}) }}" title="{{ 'action.add_comment'|trans }}">
                {{ 'action.add_comment'|trans }}
            </a>
        </p>

        <p>
            <a href="{{ url('article_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>

    {%  endif %}
{% endblock %}