
{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.task_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.task_list'|trans }}</h1>
    <nav class="nav">
        <a href="{{ url('category_index') }}" title="{{ 'action.category_list'|trans }}" class="nav-link">
            {{ 'action.category_list'|trans }}
        </a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('task_create') }}" title="{{ 'action.task_create'|trans }}" class="nav-link">
                {{ 'action.task_create'|trans }}
            </a>
            <a href="{{ url('user_index') }}" title="{{ 'action.user_list'|trans }}" class="nav-link">
                {{ 'action.user_list'|trans }}
            </a>
        {% endif %}
        <a href="{{ url('comment_index') }}" title="{{ 'action.comment_list'|trans }}" class="nav-link">
            {{ 'action.comment_list'|trans }}
        </a>
    </nav>

{#    <div class="navigation text-bold">#}
{#        <h1 >{{ 'title.task_list'|trans }}</h1>#}
{#        <a href="{{ url('category_index') }}" title="{{ 'action.category_list'|trans }}" class="btn btn-outline-secondary">#}
{#            {{ 'action.category_list'|trans }}#}
{#        </a>#}
{#    </div>#}

    {% if pagination is defined and pagination.items|length %}

        <table class="table table-striped align-middle table-hover mt-4">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'task.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'task.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'task.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'task.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_category'|trans, 'category.title') }}</th>
{#                <th>{{ knp_pagination_sortable(pagination, 'label.content'|trans, 'comment.content') }}</th>#}

                    <th>{{ 'label.actions'|trans }}</th>

            </tr>
            </thead>
            <tbody>
            {% for task in pagination.items %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.createdAt|format_date('long') }}</td>
                    <td>{{ task.updatedAt|format_date('long') }}</td>
                    <td>{{ task.title }}</td>
                    <td>
                        <a href="{{ url('task_index', {'filters.category_id' : task.category.id}) }}" title="{{ task.category.title }}">
                            {{ task.category.title }}
                        </a>
                    </td>
                    <td>

{#                        {% if is_granted('VIEW', task) %}#}
{#                            <a href="{{ url('task_show', {id: task.id}) }}" title="{{ 'action.show'|trans }}" class="btn btn-outline-secondary">#}
{#                                {{ 'action.show'|trans }}#}
{#                            </a>#}
{#                        {% endif %}#}

{#                        {% if is_granted('EDIT', task) %}#}
{#                            <a href="{{ url('task_edit', {'id': task.id}) }}" title="{{ 'action.edit'|trans }}" class="btn btn-outline-primary">#}
{#                                {{ 'action.edit'|trans }}#}
{#                            </a>#}
{#                        {% endif %}#}

{#                        {% if is_granted('DELETE', task) %}#}
{#                            <a href="{{ url('task_delete', {'id': task.id}) }}" title="{{ 'action.delete'|trans }}" class="btn btn-outline-danger">#}
{#                                {{ 'action.delete'|trans }}#}
{#                            </a>#}
{#                        {% endif %}#}
                            <a href="{{ url('task_show', {id: task.id}) }}" title="{{ 'action.show'|trans }}" class="btn btn-outline-secondary">
                                {{ 'action.show'|trans }}
                            </a>

                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('task_edit', {'id': task.id}) }}" title="{{ 'action.edit'|trans }}" class="btn btn-outline-primary">
                                {{ 'action.edit'|trans }}
                            </a>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('task_delete', {'id': task.id}) }}" title="{{ 'action.delete'|trans }}" class="btn btn-outline-danger">
                                {{ 'action.delete'|trans }}
                            </a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}